# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc & OS
.DS_Store
*.pem
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files (Block all secrets, whitelist template)
.env*
!.env.example

# PocketBase local database & backups
pb_data/
pb_public/
*.db
*.db-journal
*.db-wal
*.sqlite
*.sqlite-journal
*.sqlite-wal

# vercel & cloudflare
.vercel
.wrangler

# typescript
*.tsbuildinfo
next-env.d.ts

